* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
 
}

body {
  font-family: "roboto", sans-serif;
  margin: 0;
  width: 100%;
}
body h2 {
  font-size: 2.7em;
}
body h3 {
  font-size: 2em;
}
body p {
  font-size: 1.25em;
}
body ul {
  list-style: none;
}
body a {
  list-style: none;
}
body li {
  font-size: 1.25em;
}
body .container {
  display: block;
  max-width: 1400px;
  margin: auto;
  padding: 50px 50px;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 1px 2px 2px rgba(28, 110, 164, 0.42);
}
.header h1 {
  font-size: 1.3em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: 1px 2px 2px rgba(28, 110, 164, 0.42);
  margin: 0 0;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 1em;
  }
}
@media (max-width: 460px) {
  .header h1 {
    font-size: 0.8em;
  }
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
  color: rgb(255, 255, 255);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.342)), url(../imagenes/banner.jpg);
  margin: auto;
}
.hero h2 {
  margin: 5px 10px;
  text-align: center;
  display: block;
  font-size: 1.6em;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
}
.hero .boton {
  text-decoration: none;
  padding: 10px 10px;
  border: 2px solid rgb(252, 252, 252);
  border-radius: 15PX;
  color: rgb(255, 255, 255);
  background-color: rgba(56, 56, 56, 0.418);
  margin: 25px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
}
.hero .boton:hover {
  color: rgb(255, 255, 255);
  background-color: cornflowerblue;
  transform: scale(1.1);
  border: 1px solid rgb(252, 252, 252);
  border-radius: 20PX;
}

@media (min-width: 768px) {
  .hero h2 {
    font-size: 2.5em;
  }
}
section {
  padding: 0 0 15px 0;
}
section .container {
  background-color: white;
}

.serv_h3 {
  padding: 10px;
  text-align: center;
}

#clientes .container {
  display: block;
  justify-content: center;
}

.cont_separador {
  display: block;
  padding: 10px;
  background-color: rgb(32, 32, 32);
}
.cont_separador h2 {
  display: block;
  padding-top: 15px;
  color: Cornflowerblue;
  font-size: 2.5em;
  text-align: center;
}
.cont_separador h2:hover {
  transform: scale(1.2);
}
.cont_separador p {
  text-align: center;
  color: white;
}

#desarrollos .container {
  height: 60%;
  padding: 40px 50px;
  background-color: rgb(32, 32, 32);
}
#desarrollos .container h5 {
  color: Cornflowerblue;
}

#clientes .container {
  background-color: rgb(32, 32, 32);
  padding-top: 20px;
}

footer {
  background-color: rgb(228, 228, 228);
}
footer i {
  color: Cornflowerblue;
}
footer a {
  list-style: none;
  text-decoration: none;
}
footer p {
  padding-bottom: 10px;
  text-align: center;
}

.container {
  padding: 12px 12px;
}

@media (min-width: 720px) {
  footer .box {
    padding-top: 20px;
    margin-bottom: 10px;
  }
  p {
    align-items: center;
    padding-bottom: 10px;
  }
}
article .container {
  padding: none;
}

#nosotros .container {
  display: contents;
  justify-content: center;
}

.tarjeta_texto {
  text-align: initial;
  padding-top: 20px;
  min-width: 300px;
  max-width: 800px;
  display: content;
  flex-direction: column;
  justify-content: center;
}
.tarjeta_texto h3 {
  text-align: center;
  color: cornflowerblue;
  font-size: 1.3em;
  text-shadow: 1px 2px 2px rgba(28, 110, 164, 0.42);
}
.tarjeta_texto p {
  font-size: 1em;
  text-align: center;
  padding: 15px 15px;
}

.tarjeta_imagen_1 {
  display: block;
  align-items: center center;
  background-image: url("../imagenes/nosotros/nosotros.jpg");
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15);
  height: 150px;
}

.tarjeta_imagen_2 {
  display: block;
  background-image: url("../imagenes/nosotros/enfoque.jpg");
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15);
  height: 150px;
}

@media (min-width: 768px) {
  #nosotros .container {
    display: flex;
    justify-content: center;
  }
  .hero_comodin h2 {
    font-size: 2.8em;
  }
  p {
    font-size: 1em;
    text-align: center;
    color: black;
    padding: 5px 10px;
  }
  .tarjeta_texto {
    width: 50%;
    text-align: initial;
    min-width: 300px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
  }
  .tarjeta_texto h3 {
    text-align: center;
    color: cornflowerblue;
    font-size: 1.8em;
    text-shadow: 1px 2px 2px rgba(28, 110, 164, 0.42);
  }
  .tarjeta_texto p {
    font-size: 1em;
    text-align: center;
  }
  .tarjeta_imagen_1 {
    background-image: url("../imagenes/nosotros/nosotros.jpg");
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15);
    height: 400px;
    width: 400px;
  }
  .tarjeta_imagen_2 {
    background-image: url("../imagenes/nosotros/enfoque.jpg");
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15);
    height: 400px;
    width: 400px;
  }
}
.hero_comodin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1b172c;
  margin-bottom: 10px;
}
.hero_comodin h2 {
  color: cornflowerblue;
  text-shadow: 1px 2px 2px rgba(28, 110, 164, 0.42);
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  margin-top: 10px;
}
.hero_comodin h2:hover {
  color: rgb(255, 255, 255);
}
.hero_comodin p {
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  margin-bottom: 0;
}

.servicios__general {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.servicios__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
}
.servicios__div img {
  height: 200px;
  width: 200px;
  border-radius: 20px;
}
.servicios__div p {
  font-size: 1em;
  text-align: center center;
  margin: auto;
}

@media (min-width: 768px) {
  #nosotros .container {
    justify-content: center;
  }
  .hero_comodin h2 {
    font-size: 1.5em;
  }
  .hero_comodin p {
    font-size: 2em;
    color: rgb(255, 255, 255);
  }
  .servicios__div p {
    font-size: 1em;
    text-align: center center;
    margin: auto;
  }
}
@media (min-width: 960px) {
  .hero_comodin h2 {
    font-size: 2.2em;
  }
  .hero_comodin p {
    font-size: 1.5em;
    font-weight: 300;
    color: rgb(255, 255, 255);
  }
}
#clientes_2 .container {
  display: block;
  justify-content: center;
  max-width: 1400px;
}

.carousel {
  display: flex;
  align-content: center;
}

.carousel-item p {
  text-align: center;
  margin-top: 10px;
  color: cornflowerblue;
}

.tarjeta_imagen_3 {
  display: block;
  background-image: url("../imagenes/nosotros/experiencia.jpg");
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15);
  height: 150px;
}

.tarjeta_texto_3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.galeria_img {
  width: 90%;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.galeria_img li {
  margin: 5px;
}
.galeria_img img {
  width: 150px;
  height: 150px;
  margin: 10px;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.galeria_img img:hover {
  transform: scale(1.2);
  box-shadow: 0px 6px 6px 0px rgba(28, 110, 164, 0.42);
  cursor: pointer;
}

@media (min-width: 720px) {
  #clientes_2 .container {
    display: flex;
    justify-content: center;
    max-width: 1400px;
  }
  .tarjeta_texto_3 {
    width: 50%;
    padding: 20px 20px;
  }
  .tarjeta_imagen_3 {
    display: block;
    background-image: url("../imagenes/nosotros/experiencia.jpg");
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15);
    height: 300px;
    width: 300px;
  }
}
.contacto_p .mapa iframe {
  width: 90vw;
  height: 300px;
  margin: 40px 60px;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  /* -------------------------------------------------------------- */
}

form {
  background-color: #31384a;
  width: 450px;
  margin: auto;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 7px;
  margin-bottom: 10px;
}
form label {
  color: rgb(255, 255, 255);
}

form input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}
textarea form {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton {
  background-color: cornflowerblue;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
}
#boton:hover {
  cursor: pointer;
}

@media (max-width: 480px) {
  form {
    width: 90%;
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=estilos.css.map */
