
$color-header:rgb(245, 245, 245);
$color-h1:rgb(9, 9, 58);
$color-menu:rgb(49, 47, 77);
$color-menu-hamburguesa: #2c3e50;
$color-primario: cornflowerblue;
$color-secundario:rgb(32, 32, 32);
$color-blanco: rgb(255, 255, 255);
$color-sombra: rgba(28,110,164,0.42);
$color-sombra-box:rgba(0,0,0,0.15);
$color-hero:rgb(173, 173, 173);
$color-contacto:#31384a;


