#clientes_2 .container{
    display: block;
    justify-content: center;
    max-width: 1400px;
}  
.carousel{
    display: flex;
    align-content: center;
}
    .carousel-item p{
        text-align: center;
        margin-top: 10px;
        color: $color-primario;
    }
    //----------------- imagen, p --------------////
    .tarjeta_imagen_3{
        display:block;
        background-image:url("../imagenes/nosotros/experiencia.jpg"); 
        background-size: cover;
        background-position: center center;
        box-shadow: 0px 6px 6px 0px $color-sombra-box;
        height: 150px;
        
    }
    .tarjeta_texto_3{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    //--------- //-------------//
    .galeria_img{
    width: 90%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    & li{
        margin:5px;
    }
    img{
        width: 150px;
        height: 150px;
        margin: 10px;
        box-shadow: 0px 6px 6px 0px $color-sombra-box;
        border-radius: 20px;
        &:hover{
            transform: scale(1.2);
            box-shadow: 0px 6px 6px 0px $color-sombra;
            cursor:pointer;
        }
    }
   
    }

    /////////////* media //////////////*

@media (min-width:720px){

    #clientes_2 .container{
        display:flex;
        justify-content: center;
        max-width: 1400px;
    }  
    .tarjeta_texto_3{
        width: 50%;
        padding: 20px 20px;
    
}
.tarjeta_imagen_3{
    display: block;
    background-image:url("../imagenes/nosotros/experiencia.jpg"); 
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 6px 6px 0px $color-sombra-box;
    height: 300px;
    width: 300px;
}
}