
.hero_comodin{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1b172c; 
    margin-bottom: 10px;

    h2{
        color: $color-primario;
        text-shadow: 1px 2px 2px $color-sombra;
        font-weight: 600;
        font-size: 1.5em;
        text-align: center;
        margin-top: 10px;
        &:hover{
            color:$color-blanco;
          }
        }
        p{
          font-size: 1em;
          text-align: center;
          color: $color-blanco;
          padding: 5px 10px;
          margin-bottom: 0;
        }  
}
//-------servicios div,img, text --------//
 .servicios__general{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
 }
.servicios__div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  

  img{
    height: 200px;
    width: 200px;
    border-radius: 20px
  }
  p{
    font-size: 1em;
    text-align: center center;
    margin:auto;
  }
}


  


////////////* media 768px*///////////// 

@media (min-width:768px){

  #nosotros  .container{
      justify-content: center;   
  }

  .hero_comodin {
  h2{
   font-size: 1.5em ;
  }
  p{
      font-size: 2em;
      color: $color-blanco;
      
  }
}

.servicios__div{

  p{
    font-size: 1em;
    text-align: center center;
    margin:auto;
  }
}
}

@media (min-width:960px){
  .hero_comodin {
    h2{
     font-size: 2.2em ;
    }
    p{
        font-size: 1.5em;
        font-weight:300;
        color: $color-blanco;
        
    }
  }
}